body {
    display: inline-flex;
    height: 917px;
    padding: 70px 194px 30px 194px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: var(--secondary-background-1, #FFFDF4);
  }

.div1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.div11 {
    color: var(--primary-accent-1, #374639);
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px; 
    letter-spacing: -2.25px;
    display: inline-block;
}

.div12 {
    width: 519px;
    color: var(--secondary-color-1, #3F514B);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; 
    display: inline-block;  
}

.div21  {
    width: 365px;
    height: 266px;
    flex-shrink: 0;
}

.bg {
    background: url(./img/anhyoga.jpg) lightgray 50% / 100% 100% no-repeat; 
}

.bg1 {
    background: url(./img/anhcambat.jpg) lightgray 50% / 100% 100% no-repeat;
}

.bg2 {
    background: url(./img/anhquy.png) lightgray 50% / 100% 100% no-repeat;
}

.div20 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}
  
.div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.div27 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.div26 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.div28 {
    display: flex;
    align-items: center;
    gap: 6px;
}

.div22 {
    color: #414F42;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 125% */
    letter-spacing: -0.4px;
}

.div23 {
    width: 308px;
    color: var(--secondary-color-1, #3F514B);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 141.176% */
}

.div24 {
    width: 34px;
    height: 17px;
    color: var(--secondary-subtitle, #72776C);
    font-kerning: none;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 138.462% */
    letter-spacing: 0.13px;
    text-decoration-line: line-through;
    text-transform: uppercase;
}

.div25 {
    color: var(--secondary-color-1, #3F514B);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 127.778% */
    text-transform: uppercase;
}

.div29 {
    display: flex;
    width: 360px;
    height: 1px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--Line, #ECEDEC);
}

.div30 {
    display: flex;
    align-items: center;
    gap: 24px;
}

.div31 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.div32 {
    color: var(--secondary-subtitle, #72776C);
    font-kerning: none;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 120% */
    letter-spacing: 0.15px;
    text-transform: uppercase;
}

.div33 {
    color: var(--secondary-color-2, #4E5C58);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

.div34 {
    display: flex;
    align-items: flex-start;
    gap: 23px;
}